/* .container{
  width: 80%;
}

.row {
    height: 100%;
    background-color: bisque;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    align-items: flex-start;
}

.col-1{
  width: 20%;
}

.col-2{
  width: 40%;
} */


* {
	margin:0;
	padding:0;
}
body {
	background:url('https://i.imgur.com/gaqdL8o.jpg') repeat #ccc;
	/* font-family: 'Open Sans', sans-serif; */
	/* font-weight:400; */
}
a {
	text-decoration:none;
	color:white;
	outline:none; /* IE fix */
}
.container, nav#mainNav {
	width:768px;
	margin:0 auto;
}

div.logo {
	width: 768px;
	margin:0 auto;
}

div.navBar, input[type="submit"] {
	background:#50a5ed;
	background:linear-gradient(#50a5ed, #3280c2);
	background:-webkit-linear-gradient(#50a5ed, #3280c2);
	background:-moz-linear-gradient(#50a5ed, #3280c2);
	background:-o-linear-gradient(#50a5ed, #3280c2);
	background:-ms-linear-gradient(#50a5ed, #3280c2);
	box-shadow:inset 0 1px #6ce4f6, 0 1px #787778;
	color:white;
}

.header-div{
  
  padding: 20px;
  text-align: left;
  font-size: 20px;
  padding-left: 21%;
}

.about-text{
  margin: 10px 0 10px 0;
  color: #50a5ed;
}

div.container {
	background:white;
	margin-top:30px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border:1px solid #ccc;
	padding:10px;
	color:#939393;
	font-weight:400;
	font-size:15px;
}
.formElement {
	padding:20px 5px;
}
label.label {
  text-transform: uppercase;
	width:15%;
	display:inline-block;
	text-align:left;
	vertical-align:top;
	padding-right:25px;
  margin-top: 7px;
}
input,textarea, select {
	font-family: 'Open Sans', sans-serif;
	background:#f6f6f6;
	color:#a4a4a4;
	border:none;
	outline:none;
	padding:10px;
	/* border-radius:5px; */
	/* -webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px; */
	border:1px solid #ccc;
	width:60%;
	transition:all .3s;
}
select {
	/* width:60%; */
	/* box-shadow:0 3px 0 #ccc; */
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;
	-ms-appearance:none;
	appearance:none;
	cursor:pointer;
}
input:hover,textarea:hover, select:hover {
	border-color:#aaa;
}
input:focus,textarea:focus, select:focus {
	box-shadow:0 0 0px 1.5px #3d92d9;
}

label.select {
	position:relative;
}

input[type="radio"] {
	width:auto;
	margin-right:6px;
	margin-left:5%;
	cursor:pointer;
}
label[for="dev"], label[for="qa"] {
	cursor:pointer;
  text-transform: uppercase;
}
input[type="submit"] {
	cursor:pointer;
	/* border-radius:40px;
	-webkit-border-radius:40px;
	-moz-border-radius:40px;
	-o-border-radius:40px;
	-ms-border-radius:40px; */
	width:20%;
}
input[type="submit"]:hover {
	background:#69B7FA;
	background:linear-gradient(#69B7FA, #3280c2);
	background:-webkit-linear-gradient(#69B7FA, #3280c2);
	background:-moz-linear-gradient(#69B7FA, #3280c2);
	background:-o-linear-gradient(#69B7FA, #3280c2);
	background:-ms-linear-gradient(#69B7FA, #3280c2);
	box-shadow:inset 0 1px #6ce4f6, 0 1px #787778;
}
.formElement:last-child {
	padding:0;
	margin-bottom:15px;
}
.searchIcon input {
	width:200px;
	padding:5px;
	position: relative;
	top: -5px;
	left: -10px;
	background: #2169a6;
	border-color: #4197df;
	color:white;
}
.searchIcon img {
	margin-top:15px;
	cursor:pointer;
}
button#searchBtn {
	background:none;
	border:none;
	outline:none;
	opacity:.8;
}
button#searchBtn:hover {
	opacity:1;
}
input.searchBox {
	left:0;
	width:0;
	opacity:0;
}

.start-radio{
  padding-left: 0px;
  margin-left: 0% !important;
}

.descTextarea{
  height: 100px;
}

.header-border{
  border-bottom: 2px;
}

.reward-input{
  width: 10%;
}

.reward-label{
  padding-left: 10px;
}

.start-date{
  width: fit-content;
}

.space-span{
  margin: 0 10px 0 10px;
}

.event-place{
  width: 20%;
}

.submit-panel{
  display: flex;
  margin: 40px;
    justify-content: center;

}

.submit-btn{
  background: orange !important;
}

label {
	color: #9c9999;
}

.sucess{
	min-height: 150;
	background-color: #e1ffe1 !important;
}

// .selectpicker {
// 	display: block !important;
//   }

// @media only screen and (max-width: 992px) {
// 	input,textarea, select{
// 		display: block;
// 	}
// }  